<div>
    <md-content layout-padding="" ng-cloak="" class="datepickerdemoValidations">
        <form name="mcDatesForm" flex-gt-xs>
            <div layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <md-input-container>
                    <label>C</label>
                    <md-datepicker 
                        ng-model="dates.dateFromDt" 
                        ng-change ="dates.change()"
                        ng-model-options = "{debounce : 300}"
                        md-placeholder="Введите дату" 
                        name="dateFromField"
                        md-max-date="dates.dateToDt">
                    </md-datepicker> 
                    <div ng-messages="mcDatesForm.dateFromField.$error">
                        <div ng-message="valid">Неверно введена дата</div>
                        <div ng-message="maxdate">Выберите дату не позже {{dates.dateToDt | date:"shortDate"}}</div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>По:</label>
                    <md-datepicker
                        ng-model="dates.dateToDt" 
                        ng-change ="dates.change()"
                        ng-model-options = "{debounce : 300}"
                        name="dateToField"
                        md-placeholder="Введите дату" 
                        md-min-date="dates.dateFromDt">
                    </md-datepicker> 
                    <div ng-messages="mcDatesForm.dateToField.$error">
                        <div ng-message="valid">Неверно введена дата</div>
                        <div ng-message="mindate">Выберите дату не раньше {{dates.dateFromDt | date:"shortDate"}}</div>
                    </div>
                </md-input-container>
            </div>
        </form>
    </md-content>
    <md-content>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <a href="" class="mc-dates-intervals" ng-click="dates.setYesterday()"> Вчера </a>
            <a href="" class="mc-dates-intervals" ng-click="dates.setToday()"> Сегодня </a>
            <a href="" class="mc-dates-intervals" ng-click="dates.setTwoWeeks()"> 2 недели </a>
            <a href="" class="mc-dates-intervals" ng-click="dates.setMonth()"> Месяц </a>
            <a href="" class="mc-dates-intervals" ng-click="dates.setAll()"> Все </a>
        </section>
    </md-content>   
            
</div>
