<!DOCTYPE html>

<html>
    <head>
        <title>Test mcDates</title>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>

        <script src="mc-dates.js"></script>
        <link rel="stylesheet" href="lib/angular-material.css">
        <link rel="stylesheet" href="css/mc-dates.css">
        
    </head>
    <body ng-app="mcDatesDemo" ng-controller="mcDatesDemoController">

        <mc-dates date-from='date1' date-to='date2' mc-change="changeDates()"></mc-dates>

        <md-content>
            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <md-input-container> 
                    <label>Дата 1</label>
                    <input ng-model='date1'>
                </md-input-container>
                <md-input-container>
                    <label>Дата 2</label>
                    <input ng-model='date2'>
                </md-input-container>
            </section>
        </md-content>
        
    <script src="mc-dates-demo.js"></script>

    </body>
</html>
